@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <center> <h1> Login Form </h1> </center>
    <form method="post"> 
        <label>Username : </label> 
        <input type="text" placeholder="Enter Username" name="uname" id="uname" required><br/><br/>
        <label>Password : </label> 
        <input type="password" placeholder="Enter Password" name="pass" id="pass" required><br/><br/>
        <button type="submit">Login</button>
        <a href="https://www.google.co.in/">Register</a>
    </form>
</div>
