@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"  style="color: lightskyblue;"><B>WELCOME PRANAV</B></h1>
    <br/>
    <h4>DO YOUR CRUD OPERATIONS ON EMPLOYEE TABLE</h4>
</div>
