@using BOL;
@{
    ViewData["Title"] = "Employee Details";
}

<form>
    ID:<input type="number" min="1" name="id" required/><br><br>
    Name:<input type="text"  name="id" required/><br><br>
    Email:<input type="text" name="id" required/><br><br>
    Number:<input type="text" name="id" required/><br><br>
    <button>Update</button>
</form>