@using BOL;
@{
    ViewData["Title"] = "Insert Details";
}


<form>
    ID:<input type="number" min="1" name="id" required/><br><br>
    Name:<input type="text"  name="name" required/><br><br>
    Email:<input type="email" name="email" required/><br><br>
    Number:<input type="text" name="num" required/><br><br>
    <button type="submit">ADD</button>
</form>